<!-- Utilizamos la clase Persona de Model -->
@model Persona

<!-- Con esto pasamos datos fuertemente tipados del controlador a la vista -->
@*@model string*@

@{
    ViewData["Title"] = "Inicio";

    string convertirMayusculas(string valor)
    {
        return valor.ToUpper();
    }

    DateTime hoy = DateTime.Now;

    var nombres = new List<string>() { "Carlos", "Alex", "Gera" };
}

<div class="text-center">
    <!-- <h1 class="display-4"> << Omar García >> </></h1> -->

    <h1 class="display-4"> << @Model  @ViewBag.Nombre (@ViewBag.Edad) >> </></h1>
    <h3> - Desarrollador Web - </h3>
    <h4>Soy @Model.Nombre</h4>
    <h5> @convertirMayusculas("Curso ASP.NET CORE") </h5>
    <p>@hoy.ToString("dd/MM/yyyy hh:mm:ss")</p>

    <img src="~/img/gixxer.png" alt="foto moto" class="logo"/>

    @foreach(var nombre in nombres)
    {
        <p>@nombre</p>
    }
</div>
